/**
 * Таблица стилей профайла сотрудника.
 */

body {
	background-color: #F0F0F0;
}
iframe {
	width: 100%;
	height: 100%;
}
.header {
	padding-top: 6px;
	padding-left: 10px;
	font-weight: bold;
	white-space: nowrap;
}
.header span {
	vertical-align: top;
	cursor: pointer;
}
.header a {
	margin-left: 5px;
	text-decoration: none;
}
.icon16 {
	width: 16px;
	height: 16px;
}

.tabs {
	position: absolute;
	top: 27px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: expression(this.parentNode.offsetHeight - this.offsetTop + 'px');
}
.tabs-items {
	position: relative;
	top: 1px;
	left: 10px;
	z-index: 1;
}
.tabs-body {
	position: absolute;
	top: 36px;
	bottom: 0;
	left: 0;
	right: 0;
	width: expression(this.parentNode.offsetWidth - 2 + 'px');
	height: expression(this.parentNode.offsetHeight - this.offsetTop - 2 + 'px');
	z-index: 0;
}
.tabs-item div {
	font-family: Verdana;
	background-image: url('../../../../img/default/profile/doc.gif');
}
#tabsItemPersonal div {
	background-image: url('../../../../img/default/person.gif');
}

.gridbox {
	width: 100%;
	height: 100%;
}
.gridbox-head {
	padding-top: 4px;
	border-bottom: 1px solid #CCCCCC;
	height: 20px;
	overflow: hidden;
}
.gridbox-body {
	top: 25px;
	width: 100%;
	height: expression(this.parentNode.offsetHeight - 25 + 'px');
}
.gridbox-body table {
	margin-bottom: 0px;
	width: expression(this.parentNode.offsetWidth - 16 + 'px');
}
.gridbox-head-table {
	line-height: 20px;
	text-align: left;
	font-size: 90%;
	color: #444444;
}
.gridbox-head-table th,
.gridbox-body-table td {
	vertical-align: top;
}
.gridbox-body-table td {
	padding-top: 5px;
	padding-bottom: 8px;
	border-bottom: 1px dashed #CCCCCC;
}

.tasks-header {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 20px;
	font-size: 90%;
	color: #444444;
	font-weight: bold;
	height: 20px;
	background-color: #F0F0F0;
}



.tasks-row-status0 {
	color: #888888;
}
.tasks-field-num {
	padding-left: 2px;
	width: 28px;
	text-align: center;
	background-color: #F0F0F0;
}
.tasks-field-description {
	padding-left: 8px;
	padding-right: 15px;
}
.tasks-field-term {
	width: 80px;
}
.tasks-field-notes {
	width: 60px;
	text-align: center;
}
.tasks-field-status {
	width: 10%;
	color: #FF0000;
}

td.tasks-field-notes div {
	margin: 0 auto;
	width: 16px;
	font-size: 10px;
	line-height: 14px;
	text-align: center;
	color: #666666;
	background: url('../../../../img/default/profile/bookmark.gif') no-repeat;
	cursor: pointer;
}