/**
 * Основная таблица стилей.
 */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	overflow: hidden;
}
body, textarea, input, select {
	font-size: 10pt;
	font-family: Tahoma, Arial, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
}
body, fieldset {
	cursor: default;
}
table {
	border: 0;
	border-collapse: collapse;
	font-size: 100%;
}
form, fieldset, textarea, div, th, td {
	margin: 0;
	padding: 0;
}
iframe, fieldset, img {
	border: 0;
}
#loading {
width: 100%;
height: 100%;
z-index: 1000;
position: absolute;
display: none;
opacity: 0.5;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
background: #ccc;
color: #000;
}

#loading #text {

background: #fff;
padding: 10px 0 10px 10px;
height: 35px;
display: block;
width: 150px;
margin: 300px auto;
opacity: 1.4;
}

#loading #text #alert, #loading #text #image {
display: inline-block;
float: left;
}

#loading #text #alert {
font-weight: bold;
font-size: 110%;
margin-right: 10px;
}

#loading #text #alert span {
display: block;
font-size: 80%;
font-weight: normal;
}